In [1]:
print('hello world')

hello world

In [2]:
#for commenting

In [3]:
var_int = 5
var_float=6.8
var_string='suraj'

In [4]:
type(var_int)

int

In [5]:

type(var_float)

float

In [6]:

type(var_string)

str

In [7]:
num1=10
num2=20
res=num1+num2
print(res)
print(num1+num2)

30
30

In [8]:
num1=20
num2=10
res=num1-num2
print(res)
print(num1-num2)

10
10

In [9]:
num1=10
num2=20
res=num1*num2
print(res)
print(num1*num2)

200
200

In [10]:
num1=20
num2=10
res=num1/num2
print(res)
print(num1/num2)

2.0
2.0

In [11]:
num1=10
num2=2
res=num1**num2
print(res)
print(num1**num2)

100
100

In [12]:
num1=10
num2=3
res=num1//num2
print(res)
print(num1//num2)

3
3

In [13]:
num1=10
num2=3
res=num1%num2
print(res)
print(num1%num2)

1
1

In [14]:
num=5
sqr= num**2
print('squre of 5 is',sqr)

squre of 5 is 25

In [15]:
# Quiz2:Find the average of three numbers i.e. 10,15 and 20 
# Write a python code for the above problem
num1=10
num2=15
num3=20
print('avrage',(num1+num2+num3)/3)

avrage 15.0

In [16]:
## Find the fahrenheit equivalent temperature for 10 degrees celcius temperature -- 4 mins
c=10
print((9/5)*c+32)

50.0

In [17]:
## Find the simple interest (si) for principal of 1000, rate of interest 
## 12% (annual) and time period 5 years -- 5 mins
pr=1000
t=5
r=12
print((pr*t*r)/100)

600.0

In [18]:
# Find the dollar equivalent for INR 3484.5, where 1$=INR 82.23 
# Round off the results upto 2 decimal places
inr_to_usd=82.23
inr=3484.5
usd= round(inr/inr_to_usd,2)
print(usd)

42.38

In [19]:
# Find the area and perimeter of square with side 4
side=4
area=side**2
perimeter= side*4
print(area, perimeter)

16 16

## Strings

In [20]:
string='suraj'

In [21]:
type(string)

str

In [22]:
string[2]

'r'

In [23]:
string[-2]

'a'

In [24]:
string.lower()

'suraj'

In [25]:
string.upper()

'SURAJ'

In [26]:
string.title()

'Suraj'

In [27]:
string1= 'data scienCed'

In [28]:
print(string1.title(), string1.capitalize())

Data Scienced Data scienced

In [29]:
len(string1)

13

In [30]:
string1.islower()

False

In [31]:
string1.isupper()

False

In [32]:
string1.istitle()

False

# DataType

In [33]:
var1=5

In [34]:
var2=float(var1)
print(var1, var2)
print(type(var2))

5 5.0
<class 'float'>

In [35]:
var3=str(var1)
print(var1, var2, var3)
print(type(var3))

5 5.0 5
<class 'str'>

In [36]:
var4=7.8
var5=int(var4)
print(var4, var5)

7.8 7

# list

In [37]:
ls=[]
print(type(ls))

<class 'list'>

In [38]:
ls1=[1,2,3]

print(type(ls1))

<class 'list'>

In [39]:
len(ls1)

3

In [40]:
my_list = [[1, 2, 3], ['apple', 'banana', 'orange'], 3.14, ['dog', 'cat', 'bird']]

In [41]:
my_list[-1][0]

'dog'

In [42]:
max(ls1)

3

In [43]:
min(ls1)

1

In [44]:
sum(ls1)

6

In [45]:
ls1

[1, 2, 3]

In [46]:
sum(ls1)/len(ls1)

2.0

In [47]:
ls1.append(4)

In [48]:
ls1.insert(3,5)

In [49]:
ls1.remove(5)

In [50]:
ls1

[1, 2, 3, 4]

In [51]:
ls1.sort()

In [52]:
ls1

[1, 2, 3, 4]

In [53]:
ls1.sort(reverse=True)

In [54]:
ls1

[4, 3, 2, 1]

In [55]:
ls1.extend([9,8,7,6])

In [56]:
ls1

[4, 3, 2, 1, 9, 8, 7, 6]

In [57]:
ls.clear()

In [58]:
ls

[]

In [59]:
ls1.count(1)

1

In [60]:
ls1.pop()

6

In [61]:
ls1.pop(1)

3

In [62]:
fruit=['apple','orange','banana']
fruit.reverse()

In [63]:
fruit

['banana', 'orange', 'apple']

In [ ]:
# list is defined by [] 
# list maintain the order of elements 
# list is mutable (changes are allowed) append/remove/extend/pop
# list supports indexing as well as slicing

In [65]:
#append: to add element in the end of the list 
#insert: to add element at specific index of the list 
#sort: to sort the data in ascending/descending order 
#remove: to remove any element from list 
#extend: to add multiple elements in the list in the end only 
#clear: to remove all the elements of the list in one go 
#count: to count the occurence of any element in the list 
#pop: to return and remove the last element/specified index element from the list 
#index: to fetch the index of any given element 
#reverse: to reverse the list

# Dictionary

In [66]:
d={'orange':3,'apple':2,'banana':7}

In [67]:
type(d)

dict

In [68]:
len(d)

3

In [69]:
d.keys()

dict_keys(['orange', 'apple', 'banana'])

In [70]:
d.values()

dict_values([3, 2, 7])

In [71]:
d['orange']

3

In [72]:
nested_person = {'first_name': 'Gopal', 'last_name': 'Verma', 'age': 30, 'gender': 'Male', 'address': {'street': '2nd Main Road', 'city': 'Bengaluru', 'state': 'Karnataka', 'zip_code': 56873}, 'email': 'gopalverma@upgradlearn.com', 'phone': 21218765, 'is_employed': True}

In [73]:
nested_person

{'first_name': 'Gopal',
 'last_name': 'Verma',
 'age': 30,
 'gender': 'Male',
 'address': {'street': '2nd Main Road',
  'city': 'Bengaluru',
  'state': 'Karnataka',
  'zip_code': 56873},
 'email': 'gopalverma@upgradlearn.com',
 'phone': 21218765,
 'is_employed': True}

In [74]:
nested_person['address']['city']

'Bengaluru'

In [75]:
d1={'a':1,'b':2}
d2={'c':3,'b':4}
d1.update(d2)

In [76]:
d1

{'a': 1, 'b': 4, 'c': 3}

In [77]:
d1['b']=5

In [78]:
d1

{'a': 1, 'b': 5, 'c': 3}

In [79]:
d1.pop('b')

5

In [80]:
d1

{'a': 1, 'c': 3}

In [81]:
d1.popitem()

('c', 3)

In [82]:
d1

{'a': 1}

In [83]:
d1.clear()

In [84]:
d1

{}

# Tuples

In [85]:
t=(1,2,3,4,5,6)

In [86]:
type(t)

tuple

In [87]:
t[3]

4

In [88]:
t.count(1)

1

In [89]:
t.index(4)

3

In [90]:
lst=list(t)

In [91]:
lst

[1, 2, 3, 4, 5, 6]

In [92]:
lst.append(10)
t1=tuple(lst)

In [93]:
t1

(1, 2, 3, 4, 5, 6, 10)

# Set

In [94]:
s= {1,1,2,3,3,4,5,6,7}

In [95]:
s

{1, 2, 3, 4, 5, 6, 7}

In [96]:
s.add(8)

In [97]:
s.add(6)

In [98]:
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [99]:
s1={1,2,3,4}
s2={4,5,6,7}

In [100]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [101]:
s1.intersection(s2)

{4}

In [102]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

[]

In [103]:
t = (1, 2, 4, 3)
print(t[3])

3

In [104]:
d = {'Python':40, 'R':45}
print(list(d.keys()))

['Python', 'R']

In [105]:
input_list=[[1,2,3,4,5,6],[2,3,4,5,6,7,8,9]] #[1] [1, 7, 8, 9]
list_1 = input_list[0]
list_2 = input_list[1]

set_1 = set(list_1) #Type your answer here
set_2 = set(list_2) #Type your answer here
answer_1 = sorted(list(set_1.difference(set_2))) #Type your answer here
answer_2 = sorted(list((set_1.union(set_2)).difference(set_1.intersection(set_2)))) #Type your answer here

print(answer_1)
print(answer_2)

[1]
[1, 7, 8, 9]

In [106]:
answer_1

[1]